body {
  background-color: rgba(255, 208, 122);
}
.background {
  background-color: #7eb0ff;
  width: 500px;
  border-radius: 50px;
  
}
.row {
  justify-content: center;
  margin-top: 0px;
  margin-top: 15%;
}